// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.field {
  margin-bottom:10px;
}

.create {
    color:green;
}

.update {
    color:green;
}

.destroy {
    color:green;
}

#error {
    width:450px;
    border:2px solid red;
    padding:7px;
    padding-bottom:0;
    margin-bottom:20px;
    background-color:#f0f0f0;
}

#error-edit {
    width:450px;
    border:2px solid red;
    padding:7px;
    padding-bottom:0;
    margin-bottom:20px;
    background-color:#f0f0f0;
}

#error h2 {
    text-align:left;
    padding:5px 5px 5px 15px;
    font-size:12px;
    margin:-7px;
    margin-bottom:0;
    background-color:#c00;
    color:#fff;
}

#error-edit h2 {
    text-align:left;
    padding:5px 5px 5px 15px;
    font-size:12px;
    margin:-7px;
    margin-bottom:0;
    background-color:#c00;
    color:#fff;
}

.field_with_errors {
    padding:2px;
    background-color:red;
    display:table;
}